<main>
  <div class="mt-3">
    @for (item of stipulations; track $index) {
      <div class="detail-body">
        <div class="flex flex-row">
          <section class="section-documents">
            <app-upload-document [index]="''+$index"
                                 [props]="buildAppUploadProps(item)"
                                 (onEventSend)="handleUploadEvent($event, item)"
                                 [uploading]="uploading"
                                 [indexUploading]="$index"
            />
          </section>
        </div>
      </div>
    }
  </div>
</main>
