<main>
  <section>
    <figure>
      <img src="assets/images/payment_plan_empty.svg" alt="payment_plan_empty" class="payment_plan_empty"/>
    </figure>
    <div class="messages">
      <div class="message-title">
        {{'PAGES.CREDIT_REQUEST_DETAIL.PAYMENT_PLAN.EMPTY_MESSAGE_LINE_1' | translate}}
      </div>
      <div class="message-content">
        {{'PAGES.CREDIT_REQUEST_DETAIL.PAYMENT_PLAN.EMPTY_MESSAGE_LINE_2' | translate}}
      </div>
      <div class="message-content">
        {{'PAGES.CREDIT_REQUEST_DETAIL.PAYMENT_PLAN.EMPTY_MESSAGE_LINE_3' | translate}}
      </div>
    </div>
  </section>
</main>
