@use '../../../../assets/themes/mytheme/variables' as *;

main {

  section {

    .button {
      @apply flex flex-row justify-center gap-4;
      align-items: center;
      background-color: black;
      color: white;
      padding: 16px;
      border-radius: 6px;
    }

    .apply-box {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 18px;
      background-color: white;
      border-radius: 6px;
      color: $mma-menu-text-color;
      box-shadow: 0 2px 12px 0 #0000001A;
      width: 284px;

      .apply-box-checkboxes {
        @apply flex flex-col gap-5;
        padding: 16px 16px 0 16px;
      }

      .apply-box-footer {
        @apply flex flex-row justify-center gap-3;
        padding: 0 12px 12px 12px;

        .padding-button {
          padding: 10.5px 17.5px 10.5px 17.5px;
        }
      }
    }
  }
}

