<main class="flex flex-col gap-6">
  <section>
    <span class="title">{{ title() }}</span>
  </section>
  <section>
    @for (item of items(); track $index) {
      <div>
        <div class="div1">
          <i [class]="item?.icon?.name" [style]="{color: item?.icon?.color}"></i>
          <label>{{ item?.label }}</label>
        </div>
        <div class="div2">
          <span>{{ item?.total }}</span>
          <p-button icon="pi pi-chevron-right" [rounded]="true" [style]="styles.chevron" (click)="navigateTo(item?.redirect)"  />
        </div>
      </div>
      <p-divider/>
    }
  </section>
</main>
