@use '../../../../assets/themes/mytheme/variables' as *;

.status {
  display: flex;
  width: fit-content;
  justify-content: center;
  padding: 0.5rem;
  border-radius: $mma-border-radius;
  color: $mma-p-white;

  .icon {
    margin-right: 0.5rem;
  }
}

.warning {
  background-color: $mma_st-orange;
}

.danger {
  background-color: $mma_st-red;
}

.success {
  background-color: $mma-st-green;
}


.info {
  background-color: $mma-st-blue;
}
