<p-table
  #dt
  [value]="messages()"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" style="min-width:15rem">Name <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="lastname" style="min-width:15rem">Lastname <p-sortIcon field="lastname"></p-sortIcon></th>
      <th pSortableColumn="description" style="min-width:15rem">Description <p-sortIcon field="description"></p-sortIcon></th>
      <th pSortableColumn="version" style="min-width:15rem">Version <p-sortIcon field="version"></p-sortIcon></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-message>
    <tr>
      <td>{{message.name}}</td>
      <td>{{message.lastName}}</td>
      <td>{{message.description}}</td>
      <td>{{message.version}}</td>
      <td>
        <p-button icon="pi pi-times" [rounded]="true" severity="danger" (click)="delete(message.id)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
